<section class="element-section-footer">
    "Triunfar en la vida no es lo más importante, es lo único"
</section>
<section class="footer">
    <div class="container-footer">
        <div class="derechos-autor" style="text-align: center;">
            Copyright &copy; Todos los Derechos Reservados 
            <br> Sena Empresa 2022
            <br> SIREP versión 2.0.0.0
        </div>
        <div class="legality" style="text-align: center; ">
            Diseñadores y desarrolladores <br>
            Aprendices ADSI 2252407 | 2022
        </div>
        <div style="text-align: center;">
            Apoyo <br>
            Instructores TIC - Yamboró
        </div>
    </div>
</section>
