.head-table {
    margin: 1em 1.3em 1em 0;
    display: grid;
    grid-template: "nombre  btnadd" 60px /1fr  200px;
    align-items: center;
}

.table {
    width: 98.5%;
    font-size: 0.9em;
}

.table thead {
    background: rgb(94, 179, 25);
    color: white;
    height: 40px;
    text-align: center;
}

.input-s {
    width: 80%;
    height: 40px;
    padding: 1em;
    border: 2px lightgray solid;
    overflow: none;
}

.input-s::placeholder {
    color: rgb(192, 192, 192);
}

.table tr td {
    height: 20px;
    background: rgba(228, 226, 226, 0.849);
    text-align: center;
}
.box2 {
    width: 90%;
    display: grid;
    grid-template: "titulo titulo" 40px "control control" 60px/1fr 1fr;
}

.box2 div:nth-child(1) {
    grid-area: titulo;
}
.cont-form {
    grid-area: control;
    width: 90%;
    display: grid;
    grid-template: "inputid inputidcliente" 20px "nombre estado" /100px 100px;
}

.input1 {
    width: 100px;
}

.link-facturar {
    margin-left: 1em;
}

.link-facturar,
.link-detalle {
    border: none;
    background: rgb(94, 179, 25);
    border-radius: 5px;
    width: 70px;
    color: white;
}

.link-facturar:hover,
.link-detalle:hover {
    background: rgb(75, 142, 20);
}

.input-style {
    border: 1px gray solid;
}

.modal-cart {
    display: flex;
    flex-direction: row;
}

.table-cart {
    width: 60%;
}

.cont-cart {
    width: 40%;
    display: flex;
    justify-content: end;
}

.dt-table-cart {
    font-size: 0.9em;
}

.dt-table-cart thead tr {
    background: rgb(94, 179, 25);
    color: white;
}

.modal-header {
    color: white;
    background: rgb(94, 179, 25);
}

.btnreg {
    margin-left: 1em;
}

.btnadd {
    background: green;
}

.action-td {
    width: 200px;
}

.modal-dark {
    background: rgba(0, 0, 0, 0.661);
}