*{
    margin: 0;
    padding: 0;
}
th{
    text-align: center;
}
.infocenter{
    text-align: center;
}
.icon-pencil{
    line-height: 2em;
    text-transform: lowercase;
    border-radius: 5px;
    margin: 5px;
    font-size: 1.5em;
    padding: 5px;
    background: white;
    text-decoration: none;
    color: #40a3ff;
}
.form-select2 {
    display: block;
    width: 25%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;;
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 196);
}
.infoUp{
    padding: 15px;
}
.table>thead{
    background-color: rgb(87, 163, 25);
    color: #ffff;
    border: inherit;
}
a.btn-edit2 {
    padding: 5px 15px;
    color: white;
    background-color: rgb(105, 195, 31);
    border-radius: 5px;
    text-decoration: none;
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
}
table.dataTable.no-footer {
    border-bottom: inherit;
}
.ListaProdu{
    margin:  0 auto;
    padding: 2px;
}
 
.box-main{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid black; */
    padding-top: 3em;
}
.box{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.main{
    border: 1px solid rgb(212, 212, 212);
    width: 98%;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
}
.table-info{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
.table-info thead th{
    background-color: rgb(87, 163, 25);
    color: #fff;
    padding: 10px 5px;
    text-align: center;
}
.table-info tbody tr td{
    padding: 10px 5px;
    text-align: center;
}
.encabezado{
    color: rgb(77, 146, 20);
    font-size: 1.8em;
    font-weight: 700;
    padding-right: 20px;
}
td, tfoot, th, thead, tr {
    border-color: inherit;
    border-style: none;
    border-width: 0;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border: none;
}
.box1{
    grid-area: box1;
    padding: 10px;
    text-align: left;
}
.box2{
    grid-area: box2;
    padding: 20px;
    line-height: 25px;
    text-align: left;
}
.box3{
    grid-area: box3;
    padding: 10px;
    text-align: left;
}
.infoCantidad{
    width: 20%;
    border: none;
    border-bottom: 1px solid rgb(219, 219, 219);
}
.icon-calendar{
    padding: 5px;
}
.date{
    display: flex;
    padding: 10px;
}
.idproduccion{
    font-size: 1em;
    color: green;
    border: none;
    width: 50px;
    background: white;
    padding-left: 10px;
}
.editCantidad{
    padding: 10px;
}
.describe{
    padding: 10px;
}
.textDescribe{
    width: 80%;
    height: 100px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    padding: 5px;
}
.infopdto{
    grid-area: infoPdto;
    text-align: left;
    padding: 10px;
}
.btn{
    grid-area: btn;
}
.boton{
    width: 90%;
    border: none;
    border-radius: 8px;
    color: white;
    background: #40a3ff;
    font-size: 1em;
    cursor: pointer;
    padding: 8px;
}